button {
	display:flex;
	padding:40px;
	justify-content:center;
	align-items:center;
	gap:10px;
	border-radius:50px;
	background:#fff;
	appearance:none;
	border:0;
	color:#060A0F;
	text-align:center;
	font-family:Madera;
	font-size:26px;
	font-style:normal;
	font-weight:700;
	cursor:pointer;
	transition:all .2s ease;
	line-height:6px;
	white-space:nowrap
}

button.small {
	height:50px;
	padding:15px 20px;
	font-size:19px
}

button:hover {
	background:#e6e6e6
}

:root {
	--Darkblue2: #0D1622;
	--White: #FFF
}

input[type="radio"] {
	display:none
}

input[type="radio"]+label {
	position:relative;
	padding-left:35px;
	line-height:25px;
	cursor:pointer;
	font-size:14px;
	font-style:normal;
	font-weight:400;
	line-height:normal;
	color:#fff;
	font-family:Madera
}

input[type="radio"]+label::before {
	content:"";
	position:absolute;
	left:0;
	top:50%;
	transform:translateY(-50%);
	width:25px;
	height:25px;
	background-color:var(--Darkblue2);
	border:1px solid var(--White);
	border-radius:50%;
	transition:background 0.3s ease
}

input[type="radio"]:checked+label::before {
	background-color:var(--White) !important
}

.ui__input {
	display:flex;
	flex-direction:column-reverse
}

.ui__input label {
	color:#94A0B0;
	font-family:Madera;
	font-size:16px;
	font-style:normal;
	font-weight:400;
	line-height:normal;
	cursor:pointer
}

.ui__input input {
	height:42px;
	border:none;
	border-bottom:1px solid #94A0B0;
	outline:none;
	background:transparent;
	appearance:none;
	-webkit-appearance:none;
	color:#fff;
	transition:all .2s ease
}

.ui__input input:focus {
	border-bottom:1px solid #fff
}

html {
	margin:0;
	padding:0
}

body {
	margin:0;
	padding:0;
	overflow-x:hidden
}

* {
	box-sizing:border-box
}

.isMobile {
	visibility:hidden;
	display:none
}

.isDesktop {
	visibility:visible
}

.wrapper {
	max-width:1275px;
	margin:0 auto;
	width:100%;
	position:relative;
	padding:0 15px
}

section {
	height:100vh
}

.first {
	width:100%;
	background:url("../resource/section-1.png") center no-repeat;
	background-size:cover;
	padding-top:101px;
	position:relative;
	overflow:hidden;
	color:#fff
}

.first__background-video {
	position:absolute;
	top:50%;
	left:50%;
	min-width:100%;
	min-height:100%;
	width:auto;
	height:auto;
	z-index:0;
	transform:translateX(-50%) translateY(-50%);
	object-fit:cover
}

.first__container {
	display:flex;
	flex-direction:column;
	gap:24px;
	height:100%
}

.first__left {
	display:flex;
	flex-direction:column
}

.first__left-logo {
	cursor:pointer;
	display:flex;
	gap:50px
}

.first__left-title {
	font-family:Madera;
	font-size:37px;
	font-style:normal;
	font-weight:700
}

.first__right {
	align-self:flex-end;
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
	height:100%
}

.first__right-title-small {
	text-align:right;
	font-family:Madera;
	font-size:60px;
	font-style:normal;
	font-weight:400
}

.first__right-title-large {
	text-align:right;
	font-family:Madera;
	font-size:60px;
	font-style:normal;
	font-weight:700;
	line-height:25px
}

.first__next {
	position:absolute;
	bottom:-51px;
	display:flex;
	flex-direction:column;
	align-items:center;
	gap:21px
}

.first__next-line {
	position:relative;
	width:27px;
	height:25vh;
	background:transparent;
	border:3px solid #fff;
	border-radius:500px
}

.first__next-logo {
	color:#fff;
	width:102px;
	height:102px
}

.second {
	background:url("../resource/section-2.png") center no-repeat;
	background-size:cover
}

.second__container {
	padding-top:232px;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	height:100%
}

.second__title {
	max-width:512px;
	width:100%;
	color:#FFF;
	font-family:Madera;
	font-size:32px;
	font-style:normal;
	font-weight:400;
	line-height:38px
}

.second__title span {
	font-weight:700
}

.second__info {
	display:flex;
	flex-direction:column;
	margin-bottom:100px
}

.second__info-top {
	color:#fff;
	font-family:Madera;
	font-size:60px;
	font-style:normal;
	font-weight:400
}

.second__info-bottom {
	color:#fff;
	font-family:Madera;
	font-size:60px;
	font-style:normal;
	font-weight:700;
	line-height:38px
}

.third {
	background:url("../resource/section-3.jpg") center no-repeat;
	background-size:cover
}

.third__container {
	position:relative
}

.third__next {
	display:flex;
	flex-direction:column;
	align-items:center;
	gap:21px;
	padding-bottom:39px
}

.third__next-logo {
	position:absolute;
	top:-51px
}

.third__next-line {
	position:relative;
	margin-top:79px;
	width:27px;
	height:193px;
	background:transparent;
	border:3px solid #000;
	border-radius:500px
}

.third__content {
	margin-left:49%;
	display:flex;
	flex-direction:column
}

.third__content-title {
	max-width:611px;
	padding-bottom:129px;
	color:#000;
	font-family:Madera;
	font-size:35px;
	font-style:normal;
	font-weight:400;
	line-height:40px
}

.third__content-info {
	align-self:flex-end;
	text-align:right;
	color:#060A0F;
	font-family:Madera
}

.third__content-info-top {
	font-size:60px;
	font-weight:400
}

.third__content-info-bottom {
	font-size:60px;
	font-weight:700;
	line-height:38px
}

.fourth {
	background:#988587 url("../resource/section-4.png") center no-repeat;
	background-size:cover
}

.fourth__container {
	padding-top:81px
}

.fourth__title {
	margin-bottom:77px;
	color:#fff;
	font-family:Madera;
	font-size:74px;
	font-style:normal;
	font-weight:700;
	line-height:72px
}

.fourth__content {
	display:flex;
	justify-content:space-between
}

.fourth__content-left {
	max-width:411px;
	width:100%;
	display:flex;
	flex-direction:column;
	gap:71px
}

.fourth__content-left-about {
	color:#fff;
	font-family:Madera;
	font-size:32px;
	font-style:normal;
	font-weight:400;
	line-height:38px
}

.fourth__content-left-small {
	color:#fff;
	font-family:Madera;
	font-size:20px;
	font-style:normal;
	font-weight:400;
	line-height:24px
}

.fourth__content-right {
	max-width:377px;
	width:100%;
	display:flex;
	flex-direction:column;
	gap:71px
}

.fourth__content-right-about {
	color:#fff;
	font-family:Madera;
	font-size:32px;
	font-style:normal;
	font-weight:400;
	line-height:38px
}

.fourth__content-right-small {
	color:#fff;
	font-family:Madera;
	font-size:20px;
	font-style:normal;
	font-weight:400;
	line-height:24px
}

.fourth__content-right-rounded {
	color:#fff;
	text-align:center;
	font-family:Madera;
	font-size:19px;
	font-style:normal;
	font-weight:700;
	line-height:22px;
	padding:30px;
	border-radius:55px;
	border:2px solid #FFF;
	cursor:pointer;
	transition:all .2s ease
}

.fourth__content-right-rounded:hover {
	background:#fff;
	color:#000
}

.fourth__content-right {
	max-width:377px;
	width:100%
}

.fifth {
	background:#000 url("../resource/section-5.png") center no-repeat;
	background-size:cover
}

.fifth__container {
	padding-top:207px;
	width:100%;
	display:flex;
	flex-direction:column;
	align-items:flex-end
}

.fifth__content {
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	max-width:647px;
	width:100%
}

.fifth__title {
	color:#fff;
	font-family:Madera;
	font-size:74px;
	font-style:normal;
	font-weight:700;
	line-height:72px;
	margin-bottom:46px;
	text-transform:uppercase
}

.fifth__grid {
	margin-bottom:61px;
	display:grid;
	grid-template-columns:repeat(4, 1fr);
	gap:30px 50px
}

.fifth__grid-item {
	display:flex;
	flex-direction:column;
	gap:2px
}

.fifth__grid-item-label {
	color:#fff;
	font-family:Madera;
	font-size:14px;
	font-style:normal;
	font-weight:700;
	white-space:nowrap
}

.fifth__grid-item-value {
	color:#fff;
	font-family:Madera;
	font-size:14px;
	font-style:normal;
	font-weight:400
}

.fifth__action {
	align-self:flex-end
}

.swiper-slide:last-child {
	height:auto;
	overflow-y:scroll;
	min-height:100vh;
	background:linear-gradient(180deg, #151314 0%, #000 100%)
}

.sixth {
	position:relative;
	height:unset
}

.sixth__flex {
	display:flex;
	flex-direction:column;
	height:100%;
	gap:10px;
	justify-content:space-between
}

.sixth__cover-text {
	color:#F0F4F6;
	font-family:Madera;
	font-size:200px;
	font-style:normal;
	font-weight:700;
	line-height:160px;
	position:absolute;
	opacity:0.1;
	left:-20px;
	top:81px
}

.sixth__container {
	padding-top:90px;
	display:flex;
	gap:24px
}

.sixth__logo {
	margin-bottom:38px
}

.sixth__left {
	max-width:528px;
	width:100%
}

.sixth__left-title {
	color:#fff;
	font-family:Madera;
	font-size:38px;
	font-style:normal;
	font-weight:700;
	line-height:37px;
	margin-bottom:37px
}

.sixth__left-subtitle {
	color:#fff;
	font-family:Madera;
	font-size:36px;
	font-style:normal;
	font-weight:700;
	line-height:normal;
	margin-bottom:20px
}

.sixth__left-description {
	color:#fff;
	font-family:Madera;
	font-size:16px;
	font-style:normal;
	font-weight:400;
	line-height:normal;
	max-width:432px;
	width:100%;
	margin-bottom:30px
}

.sixth__left-contacts {
	display:flex;
	flex-direction:column;
	gap:10px;
	margin-bottom:33px
}

.sixth__left-contacts-item {
	color:#fff;
	font-family:Madera;
	font-size:16px;
	font-style:normal;
	font-weight:700;
	line-height:15px;
	text-decoration:none
}

.sixth__left-ig {
	display:flex;
	flex-direction:column;
	gap:15px
}

.sixth__left-ig-title {
	color:#fff;
	font-family:Madera;
	font-size:16px;
	font-style:normal;
	font-weight:700;
	line-height:25px
}

.sixth__left-ig-qr {
	width:182px;
	height:182px;
	display:flex;
	align-items:center;
	justify-content:center;
	border-radius:21px;
	background:#FFF
}

.sixth__right {
	max-width:495px;
	padding-top:204px;
	display:flex;
	flex-direction:column;
	gap:54px
}

.sixth__right-title {
	color:#fff;
	font-family:Madera;
	font-size:36px;
	font-style:normal;
	font-weight:700;
	line-height:25px;
	text-transform:uppercase
}

.sixth__right-form {
	display:flex;
	flex-direction:column;
	gap:54px
}

.sixth__right-form-item.row {
	display:flex;
	align-items:center;
	flex-wrap:wrap;
	gap:54px
}

.seven {
	background:#847C82 url("../resource/section-7.png") center no-repeat;
	background-size:cover
}

.seven__container {
	width:100%;
	display:flex;
	flex-direction:column;
	gap:36px;
	color:#fff
}

.seven__container-title {
	color:#fff;
	font-family:Madera;
	font-size:74px;
	font-style:normal;
	font-weight:700;
	line-height:72px;
	max-width:961px;
	text-transform:uppercase
}

.seven__container-description {
	color:#fff;
	font-family:Madera;
	font-size:28px;
	font-style:normal;
	font-weight:400;
	line-height:33px
}

.seven__container-list {
	display:flex;
	flex-direction:column;
	gap:41px
}

.seven__container-list-item {
	display:flex;
	align-items:center;
	gap:21px
}

.seven__container-list-item-num {
	color:#fff;
	font-family:Madera;
	font-size:28px;
	font-style:normal;
	font-weight:700;
	line-height:33px
}

.seven__container-list-item-content {
	color:#fff;
	font-family:Madera;
	font-size:28px;
	font-style:normal;
	font-weight:400;
	line-height:33px
}

.information-text {
	font-family:Madera;
	font-size:19px;
	font-style:normal;
	font-weight:700;
	line-height:20.7px
}

.information-text.error {
	color:#e02727;
	margin-bottom:25px
}

.information-text.success {
	margin-bottom:25px;
	color:#27E07C
}

footer {
	background:#060A0F;
	padding:30px 0
}

footer .footer__container {
	display:flex;
	align-items:center;
	justify-content:space-between;
	flex-wrap:wrap;
	gap:15px
}

footer .footer__menu {
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
	gap:22px
}

footer .footer__menu-item {
	color:#fff;
	font-family:Madera;
	font-size:16px;
	font-style:normal;
	font-weight:700;
	line-height:16px;
	text-decoration:none;
	transition:all .2s ease
}

footer .footer__menu-item:hover {
	color:#ccc
}

footer .footer__socials {
	display:flex;
	align-items:center;
	gap:20px
}

footer .footer__copyright {
	display:flex;
	align-items:center;
	gap:22px
}

footer .footer__copyright-value {
	color:#fff;
	font-family:Madera;
	font-size:16px;
	font-style:normal;
	font-weight:700;
	line-height:16px
}

@media screen and (max-width: 1190px) {
	.third__content-title {
		padding-bottom:59px
	}
}

@media screen and (max-width: 1164px) {
	.fourth__content-right-about,.fourth__content-left-about {
		font-size:21px;
		line-height:25px
	}

	.fourth__content-right-small,.fourth__content-left-small {
		font-size:17px;
		line-height:22px
	}
}

@media screen and (max-width: 905px) {
	body {
		overflow-x:hidden !important
	}

	section {
		height:unset;
		min-height:100vh !important
	}

	.wrapper {
		padding:0 20px !important;
		height:unset
	}

	.isMobile {
		visibility:visible;
		display:block
	}

	.isDesktop {
		visibility:hidden;
		display:none
	}

	.first {
		background:url("../resource/section-1-mobile.png") center top no-repeat;
		background-size:cover;
		padding-top:20px
	}

	.first__background-video {
		top:-20%;
		left:50%;
		transform:translateX(-50%)
	}

	.first__next {
		display:none
	}

	.first__container {
		justify-content:space-between;
		height:100%;
		gap:0px !important
	}

	.first__left-logo {
		flex-direction:column;
		gap:15px
	}

	.first__left-logo-main img {
		max-width:75px;
		max-height:75px
	}

	.first__left-logo-value img {
		max-height:75px
	}

	.first__left-title {
		font-size:16px;
		max-width:139px
	}

	.first__right {
		margin-bottom:61px
	}

	.first__right-title {
		display:flex;
		flex-direction:column;
		gap:10px;
		margin-bottom:-25px
	}

	.first__right-title-small {
		font-size:30px
	}

	.first__right-title-large {
		font-size:30px;
		line-height:12px
	}

	.first__button {
		margin-bottom:39px;
		width:100%
	}

	.first__button button {
		width:100%
	}

	.second {
		background:url("../resource/section-2-mobile.png") center no-repeat;
		background-size:cover
	}

	.second__container {
		padding-top:60px;
		gap:20px;
		align-items:flex-start
	}

	.second__title {
		max-width:169px;
		font-size:16px;
		line-height:19px;
		margin-bottom:49px
	}

	.second__info {
		max-width:unset;
		gap:8px
	}

	.second__info-top {
		font-size:30px
	}

	.second__info-bottom {
		font-size:50px
	}

	.third {
		background:url("../resource/section-3-mobile.png") center no-repeat;
		background-size:cover
	}

	.third__next {
		display:none
	}

	.third__content {
		margin-left:unset;
		align-items:flex-start;
		padding-top:25vh;
		justify-content:space-between;
		gap:20px;
		color:#fff;
		height:100%
	}

	.third__content-title {
		padding-bottom:0;
		font-size:16px;
		max-width:184px;
		color:#fff;
		line-height:24px
	}

	.third__content-info {
		color:#fff;
		align-self:flex-start;
		text-align:left;
		height:100%;
		display:flex;
		flex-direction:column;
		justify-content:flex-end;
		margin-bottom:60px
	}

	.third__content-info-top {
		font-size:30px
	}

	.third__content-info-bottom {
		font-size:30px
	}

	.fourth {
		background:#988587
	}

	.fourth__container {
		padding-top:50px
	}

	.fourth__title {
		margin-bottom:24px;
		font-size:50px
	}

	.fourth__content {
		flex-direction:column;
		gap:45px
	}

	.fourth__content .number {
		align-self:flex-start;
		z-index:1
	}

	.fourth__content-left {
		max-width:unset;
		gap:24px
	}

	.fourth__content-left-about {
		font-size:20px;
		line-height:25px
	}

	.fourth__content-left-small {
		font-size:16px
	}

	.fourth__content-img {
		margin:0 -20px;
		margin-top:-182px;
		z-index:0
	}

	.fourth__content-img img {
		width:100%
	}

	.fourth__content-right {
		max-width:unset;
		gap:24px
	}

	.fourth__content-right-about {
		font-size:20px;
		line-height:25px
	}

	.fourth__content-right-small {
		font-size:16px;
		margin-bottom:42px
	}

	.fourth__content-right-rounded {
		font-size:19px;
		margin-bottom:46px
	}

	.fifth {
		background:url("../resource/section-5-mobile.png") center top no-repeat;
		background-size:cover
	}

	.fifth__container {
		padding-top:38px
	}

	.fifth__content {
		align-self:flex-start
	}

	.fifth__title {
		font-size:50px;
		line-height:52px;
		margin-bottom:41px
	}

	.fifth__grid {
		grid-template-columns:repeat(2, 1fr);
		gap:10px 20px;
		margin-bottom:64px
	}

	.fifth__number {
		margin-bottom:163px;
		margin-right:45px
	}

	.fifth__action {
		width:100%;
		margin-bottom:34px
	}

	.fifth__action button {
		width:100%
	}

	.sixth {
		height:unset !important;
		overflow-x:hidden
	}

	.sixth__flex {
		background:linear-gradient(180deg, #151314 0%, #000 100%);
		height:unset !important
	}

	.sixth__container {
		padding-top:38px;
		flex-direction:column;
		gap:48px
	}

	.sixth__cover-text {
		font-size:57px;
		line-height:44px;
		left:0;
		top:68px
	}

	.sixth__left,.sixth__right {
		max-width:unset
	}

	.sixth__left-title {
		font-size:20px;
		line-height:19.6px
	}

	.sixth__left-subtitle {
		font-size:36px
	}

	.sixth__left-description {
		font-size:16px
	}

	.sixth__right {
		padding-top:unset
	}

	.sixth__right-title {
		line-height:35px
	}

	.seven {
		background:#847C82 url("../resource/section-7-mobile@2x.png") center no-repeat;
		background-size:cover
	}

	.seven__container {
		gap:45px;
		padding:0 10px;
		padding-top:80px
	}


	.seven__container-titl {
		font-size:36px;
		line-height:35px;
		text-transform:uppercase
	}

	.seven__container-description {
		font-size:18px;
		line-height:22px;
		max-width:210px
	}

	.seven__container-list {
		gap:18px;
		padding-bottom:50px
	}

	.seven__container-list-item-num {
		font-size:28px
	}

	.seven__container-list-item-content {
		font-size:18px;
		max-width:232px;
		line-height:21.6px
	}

	.seven .number {
		text-align:left;
		margin-bottom:383px
	}

	footer .footer__container {
		flex-direction:column;
		align-items:center;
		gap:34px
	}
}

.relative {
	position:relative
}

.sb-column {
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	height:100%
}

.number {
	color:#fff;
	text-align:right;
	font-family:Madera;
	font-size:57px;
	font-style:normal;
	font-weight:700;
	line-height:55px
}

.counter {
	position:absolute;
	top:0;
	right:20px;
	z-index:999;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	gap:20px
}

.counter.pos {
	top:101px
}

.counter-number {
	color:#fff;
	font-family:Madera;
	font-size:57px;
	font-style:normal;
	font-weight:700;
	line-height:55px;
	gap:8px
}

.counter-actions {
	display:flex;
	align-items:center;
	gap:35px
}

.counter-actions-item {
	cursor:pointer;
	user-select:none;
	color:#fff;
	font-family:Madera;
	font-size:38px;
	font-style:normal;
	font-weight:500;
	line-height:37px
}

.counter-actions-item.disabled {
	opacity:0.5;
	cursor:not-allowed
}

.mobile-device .swiper,.mobile-device .swiper-wrapper,.mobile-device .swiper-slide {
	all:initial
}



.container {
	max-width: 1450px;
	margin: 0 auto;
}

.arrows_container {
	max-width: 1758px;
	margin: 0 auto;
	padding: 0 0;
}

.arrows_relative {
	position: relative;
}



/*some_one*/

.some_one {
	background: url(../img/some_one.png) center 100% no-repeat;
	background-size: cover;
}

.some_one_logo {
	text-align: center;
}

.some_one_justy {
	padding: 57px 0 40px 0;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	height: 100%;
}

.some_one_top {
	width: 100%;
}

.some_one_title {
	padding: 20px 0 0 0;
	text-align: center;
	font-family: Madera;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
	color: #fff;
}

.some_one_bottom {
	width: 100%;
	max-width: 937px;
	margin: 0 auto;
}

.some_one_wrap {
	padding: 55px 0 0 0;
	display: flex;
}

.some_one_block {
	width: 50%;
	margin: 0 37px 0 0;
}

.some_one_block:last-child {
	margin: 0;
}

.some_one_border {
	border-radius: 30px;
	padding: 84px 0 30px 0;
}

.some_one_name {
	padding: 0 0 0 0;
	margin: 0 0 0 -165px;
	leading-trim: both;
	text-edge: cap;
	font-family: Madera;
	font-size: 50px;
	font-style: normal;
	font-weight: 700;
	line-height: 98%;
	color: #fff;
}

.some_one_suptitle {
	max-height: 126px;
	min-height: 126px;
	max-width: 250px;
	text-align: right;
	leading-trim: both;
	text-edge: cap;
	font-family: Madera;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	color: #fff;
	margin: 37px 0 0 -270px;
}

.some_one_button {
	max-width: 169px;
	margin: 56px 0 0 -189px;
}

.some_one_button button {
	border-radius: 50px;
	background: #fff;
	text-align: center;
	leading-trim: both;
	text-edge: cap;
	font-family: Madera;
	font-size: 19px;
	font-style: normal;
	font-weight: 700;
	line-height: 20.7px; 
	color: #060A0F;
	width: 100%;
	height: 50px;
	padding: 0;
}

.some_one_button button:hover {
	transition: 0.3s;
	color: #fff;
	background: #060A0F;
}

.some_one_dk_suptitle {
	max-width: 244px;
	margin: 130px 0 0 25px;
	font-family: Madera;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	color: #fff;
}

.some_one_dk_suptitle span {
	font-weight: 700;
	
}

.some_one_dk_suptitle_right {
	text-align: right;
	margin: 130px 28px 0 auto;
}

.some_one_name_mr {
	margin: 0 0 0 auto;
}

.some_one_name_right {
	margin: 0 -199px 0 0;
	text-align: right;
}

.some_one_suptitle_mr {
	max-width: 223px;
	margin: 37px -243px 0 auto;
}

.some_one_button_mr {
	margin: 56px -189px 0 auto;
}

.some_counter {
	top: 30px;
}


/*some_two*/

.some_two {
	overflow: hidden;
	background: #101515;
}

.some_two_wrap {
	display: flex;
}

.some_two_block {
	width: 48%;
}

.some_two_block2 {
	width: 52%;
	padding: 90px 0 0 0;
}

.some_two_inner {
	display: flex;
	max-width: 485px;
}

.some_two_inner_block {
	width: 66%;
}

.some_two_inner_block2 {
	width: 34%;
	padding: 0 0 0 12px;
}

.some_two_inner_img {
	overflow: hidden;
	border-radius: 30px;
}

.some_two_wrap img {
	margin: 0 0 -4px 0;
}

.some_two_inner_img_mr {
	margin: 12px 0 0 0;
}

.title {
	padding: 0;
	margin: 42px 0 0 0;
	font-family: Madera;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: 98%;
	color: #fff;
}

.some_two_pd {
	padding: 20px 0 0 0;
}

.suptitle {
	margin: 0;
	padding: 0;
	font-family: Madera;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
	color: #fff;
}

.suptitle span {
	font-weight: 700;
}

.some_two_button {
	padding: 0;
	font-family: Madera;
	display: block;
	font-size: 26px;
	padding: 15px 0 0 0;
	text-align: center;
	text-decoration: none;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	color: #060A0F;
	width: 341px;
	height: 80px;
	border-radius: 50px;
	background: #fff;
	border: 2px solid #fff;
}

.pd span {
	margin: -19px 0 0 0;
	display: block;
}

.some_two_button:hover {
	color: #fff;
	background: none;
}

.some_two_bg {
	background: #D9CED4;
}

.title_color {
	color: #060A0F;
}

.suptitle_color {
	color: #060A0F;
}

.some_two_button_color {
	border: 2px solid #060A0F;
	background: #060A0F;
	color: #fff;
}

.some_two_button_color:hover {
	color: #060A0F;
	background: none;
}

.some_two_bg2 {
	background: #0D0D0D;
}

.some_two_bg3 {
	background: #C7C2C6;
}

.some_two_img_mb {
	display: none;
}



.container-select-language {
	display: flex;
	align-items: center;
	position: relative;
	width: max-content;
	max-width: 172px;
	padding: 0 0 0 28px;
}

.container-select-language .items-top-footer {
	display: flex;
	align-items: center;
	cursor: pointer;
	min-width: 60px;
	justify-content: space-between;
}

.container-select-language .items-top-footer:hover {
	/*color: gray;*/
}

.container-select-language .items-top-footer p {
	margin: 0;
	font-family: Madera;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 101.2%;
	color: #FFF;	
	display: block;
	transition: 0.4s;
	user-select: none;
}

.container-select-language .items-top-footer:hover p {
	/*color: #215789;*/
}

.container-select-language .items-top-footer:hover svg {
	/*fill: #215789;*/
}

.container-select-language .items-top-footer svg {
	height: 10px;
	width: 10px;
	margin-left: 17px;
	transition: .4s;
}

.container-select-language .drop-down-language {
	width: 190px;
	position: absolute;
	bottom: 50px;
	right: 0;
	background: #D9CED4;
	border-radius: 1px;
	padding: 10px 10px 20px 2px;
	display: none;
	height: fit-content;
	min-width: 60px;
	z-index: 1;
	/*box-shadow: 2px 2px 9px -2px lightgrey;*/
	opacity: 1;
	border-radius: 10px;
}

.container-select-language .drop-down-language.active {
	display: block;
	opacity: 1;
}

.container-select-language .drop-down-language ul li {
	padding: 10px 0 0 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container-select-language .drop-down-language ul li a{
	padding: 0 0;
	transition: 0.4s;
	font-family: Madera;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 101.2%; 
	color: #060A0F;
	text-decoration: none;
}

.container-select-language .drop-down-language ul li img , .container-select-language .items-top-footer img {
	height: 30px;
	width: 30px;
	margin: 1px 0 0 22px;
	border-radius: 10px;

}

/* .container-select-language .drop-down-language ul li:last-child {
	padding-bottom: 0;
  } */

.container-select-language .drop-down-language ul li a:hover {
	
	text-decoration: underline;
}

.drop-down-language ul {
	margin: 0;
	padding: 0 0 0 18px;
}

.ukraine_flag {
	width: 30px !important;
	margin: 0 0 0 0px !important;
}